header {
    height: 80px;
    background: rgba(5, 233, 119, 0.164);
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.clock-container {
    width: 400px;
    height: 2px;
}